<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Author

Max Giammona

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

+ list popular languages for data science
+ list commonly used libraries in data science
+ provide a table of common data science tools
+ give an example of a simple arithmetic expressions
+ give an example of a simple function

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

<table>
  <thead>
    <tr>
      <th>Data Science Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>R Studio</td>
    </tr>
    <tr>
      <td>Apache Spark</td>
    </tr>
    <tr>
      <td>Tensorflow</td>
    </tr>
  </tbody>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60

def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

minutes_to_hours(200)

3.3333333333333335